/infra/docker
/node_modules
/vendor
/readme
/Makefile
/public/build
/public/css
/public/js
/test
/bootstrap/cache/*
/storage/debugbar
/storage/app/public
/storage/framework/*/*
/storage/sessions/*
/storage/testing/*
/storage/views/*
/storage/logs/*

/.git
/.github
/.gitattributes
/.styleci.yml
/laradumps.yaml
/LICENSE
/Makefile
/phpunit.xml
/README.md