/node_modules
/public/hot
/public/storage
/public/tmp
/storage/*.key
/storage/debugbar
/vendor
/public/js/
/public/css/
/public/app/
/nginx/*.log
/packages
/public/build/manifest.json
public/build
tags
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tinker.php
_ide_helper.php
.phpunit.cache/test-results
.herd.yml
