@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-title {
  animation: slipDown 1s ease;
}

@keyframes slipDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-phone {
  animation: slideUp 1s ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
